.dashboard-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: white !important;
  padding: 15px 20px;
  margin-bottom: 20px;
  border-radius: 10px;
  font-family: "Segoe UI";
}

.dashboard-header h2 {
  font-size: 24px;
  color: #050d57;
}

 .dashboard-header nav {
  display: flex;
  gap: 12px;
} 
.content-container, .table-container {
  padding: 16px 24px;
}

.link-nav {
  margin: 0 32px !important;
  color: #0d0461 !important;
  text-decoration: none;
  font-weight: 600;
}
.link-nav:hover{
  color: #00010a !important;
  text-decoration: underline !important;
}

.logout-btn {
  padding: 6px 12px; 
  background: #b8a6a6; 
  color: white;
  font-size: 13px; 
  border: none;
  border-radius: 6px;
  cursor: pointer;
}

.logout-btn:hover {
  background: #991b1b;
}

.dashboard-content {
  background: white;
  padding: 25px;
  border-radius: 10px;
}

.dashboard-content h3 {
  margin-bottom: 20px;
  color: #29489c;
  text-align: center;
  font-size: 20px;
}
.Trash {
  background: transparent !important;  
  color: red !important;          
  border: none;
  cursor: pointer;
  font-size: 18px;
}

.Trash:hover {
  color: maroon !important; 
  background: transparent !important;
}
table {
  width: 100%;
  border-collapse: collapse;
  border-radius: 20px;
}
th, td {
  border: 2px solid #ccc; 
  padding: 8px;
  background: white !important;
  color: black ;
}

tr {
  border-bottom: 1px solid #ccc; 
}
