 .dashboard-container {
  font-family: 'Segoe UI';
  min-height: 100vh;
  background-color: #e3f2fd; 
  color: #1b2733;
  padding: 20px;
} 

.dashboard-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #1976d2; 
  padding: 15px 25px; 
   border-radius: 8px;
   color: white; 
  margin-bottom: 20px; 
}

.dashboard-header h2 {
  margin: 0;
  font-size: 1.6rem;
}

.dashboard-nav .link-nav {
 margin: 0 32px !important;
  color: #0d0461 !important;
  text-decoration: none;
  font-weight: 600;
}

.dashboard-nav .link-nav:hover {
  color: #00010a !important;
  text-decoration: underline !important;
}

.logout-btn {
  padding: 8px 14px;
  border: none;
  border-radius: 6px;
  background-color: #e70d0d !important;
  color: white;
  cursor: pointer;
  font-weight: bold;
}

.logout-btn:hover {
  background-color: #d16767 !important;
}

.dashboard-content {
  padding: 20px 0;
}

.reports-title {
  margin-bottom: 15px;
  color:  #29489c;
}

.reports-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 15px;
}

.report-card {
  min-height: 120px;
  background-color:#d39b48;
  border-radius: 8px;
  padding: 20px;
  text-align: center;
  box-shadow: 0 1px 4px rgba(0,0,0,0.1);
  display: flex;
  flex-direction: column;
  justify-content: center;
  transition: 0.2s;
}

.report-card h4 {
  margin: 0 0 10px 0;
  font-weight: 600;
  color: white;
}

.report-card p {
  margin: 0;
  font-weight: bold;
  font-size: 1.2rem;
  color: white;
}

/* Clickable card hover */
.report-card-link {
  text-decoration: none;
  color: #bbdefb !important;
}

 .report-card-link:hover .report-card {
  transform: translateY(-3px);
} 

/* Buttons */
.approve-btn {
  padding: 8px 14px;
  border: none;
  border-radius: 5px;
  background-color: #3b82f6; /* blue */
  color: white;
  cursor: pointer;
  font-weight: 600;
  margin-bottom: 10px;
}

.approve-btn:hover {
  background-color: #2563eb; 
}

table {
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 20px;
  background-color: #ffffff;
  border-radius: 6px;
  overflow: hidden;
  box-shadow: 0 1px 4px rgba(0,0,0,0.1);
}

table th,
table td {
  padding: 10px 12px;
  border: 2px solid #ccc; 
  text-align: center;
  border-bottom: 1px solid #ddd;
  border-radius: 6px;
  
}

table th {
  font-weight: 1600;
  color: #031c44 !important
}

 @media (max-width: 768px) {
  .dashboard-header {
    flex-direction: column;
    align-items: flex-start;
  }

  .reports-grid {
    grid-template-columns: 1fr;
  }

  .dashboard-nav .link-nav {
    margin: 5px 0;
  }
} 

